*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.video-container{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.video-container video{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    transform: translate(-50%, -50%);

}

.video-container::after{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.4);
    z-index: 1;
}

.navbar{
    padding: 20px 40px;
}

.navbar ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.navbar a{
    color: white;
    text-decoration: none;
}
