.btn{
display: inline-block;
padding: 16px 30px;
background: var(--text-color);
color: var(--bg-color);
font-size: 15px;
letter-spacing: 1px;
border-radius: 30px;
transition: all .45s ease;
}
.btn:hover{
    letter-spacing: 2px;
    opacity: 0.8;
}
.row-btn{
    display: inline-block;
    padding: 12px 22px;
    background: var(--bg-color);
    color: var(--text-color);
    font-size: 15px;
    border-radius: 30px;
    transition: all .45s ease;
}
.row-btn:hover{
    letter-spacing: 1px;
    color: var(--bg-color);
    background: var(--text-color);
}
