.home {
    height: 100vh;
    width: 100%;
    background-color: #e3ffe6;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}

.home-text h4 {
    font-size: 1.5rem;
    color: var(--other-color);
    margin-bottom: 10px;
}

.home-text h1 {
    font-size: var(--big-font);
    color: var(--text-color);
    margin-bottom: 20px;
}

.home-text .btn {
    padding: 12px 30px;
    background: var(--main-color);
    color: #fff;
    border-radius: 30px;
    font-weight: 500;
    transition: 0.3s;
}

.home-text .btn:hover {
    background: var(--other-color);
}
