.icons {
    display: flex;
    align-items: center;
    margin-left: auto; 
}

.icons i {
    height: 50px;
    width: 50px;
    background: #f7f9fb;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;
    font-size: 1.2rem;
}
.icons i:hover{
    transform: scale(0.9);
}
#menu-icon {
    color: var(--other-color);
    font-size: 33px;
    z-index: 10001;
    cursor: pointer;
    display: inline-flex;
}