.feature-content{
display: grid;
grid-template-columns: repeat(auto-fit, minmax(300px, auto));
gap: 2rem;
align-items: center;
margin-top: 5rem;
}
.row{
padding: 40px 30px;
background: #e3ffe6;
border-radius: 20px;
transition: all .45s ease;
}
.main-row{
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-around;
gap: 2rem;
}
.row-img img{
width: 170px;
height: auto;
max-width: 100%;
}
.row-text h6{
    font-size: 14px;
    font-weight: 500;
    color: var(--other-color);
    margin-bottom: 1rem;
}
.row-text h3{
    margin-bottom: 3rem;
    font-size: 26px;
    font-weight: 600;
}
.row2{
background: #fef2f2;
}
.row3{
background: #eff6ff;
}
.row:hover {
  transform: translateY(-5px);
  cursor: pointer;
}