.navbar {
    display: flex;
    align-items: center;
    gap: 15px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar a {
    font-size: var(--p-font);
    color: var(--other-color);
    font-weight: 400;
    padding: 10px 25px;
    margin: 0 5px;
    background: transparent;
    border-radius: 30px;
    transition: all 0.45s ease;
}
ul.navbar {
    margin: 0;
    padding: 0;
}
.navbar a:hover,
.navbar a.active {
    background: #f7f9fb;
    color: var(--text-color);
}
.navbar.active {
    display: flex;
}